{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<!-- Main navigation -->
<header>

    <!-- Full Page Intro -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'
        style="background-image: url('img/chambre-avec-vue-getloc.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">


        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-left">

                        <h5 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                            data-wow-delay="0.3s">Gestionnaires de biens, simplifiez votre <strong>location
                                saisonnière</strong></h5>
                        <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                    </div>
                    <div class="col-md-12 mb-4 white-text text-right">
                        <p class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">
                            ou devenez <strong>"Welcome specialist" et</strong>
                            <br>complétez vos revenus
                        </p>
                    </div>



                    <div class="col-md-12 mb-4 white-text text-center">
                        <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Je peux donner un coup de
                            main</a>
                        <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">J'ai besoin d'un coup de
                            main</a>
                    </div>




                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

{% endblock %}