{% extends 'base.html.twig' %} {% block title %}Hello SubscribeController!{% endblock %} {% block body %}

<div class="view full-page-intro">
    <div class="mask d-flex justify-content-center align-items-center">

        <!--Container-->
        <div class="container">

            <!--Grid row-->
            <div class="wow fadeIn">
                <!-- Material form login -->
                <div class="card">

                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Inscrivez-vous</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
                        <form class="text-center" style="color: #757575;">

                            <!-- Email -->
                            <div class="md-form">
                                <input type="email" id="materialLoginFormEmail" class="form-control">
                                <label for="materialLoginFormEmail">Saisissez votre email</label>
                            </div>

                            <!-- Password -->
                            <div class="md-form">
                                <input type="password" id="materialLoginFormPassword" class="form-control">
                                <label for="materialLoginFormPassword">Saisissez votre mot de passe</label>
                            </div>

                            <!-- Password -->
                            <div class="md-form">
                                <input type="password" id="materialLoginFormPassword" class="form-control">
                                <label for="materialLoginFormPassword">Répétez votre mot de passe</label>
                            </div>


                            <!-- Sign in button -->
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Validez</button>

                        </form>
                        <!-- Form -->

                    </div>

                </div>
                <!-- Material form login -->

            </div>



        </div>





        <!--Container-->
    </div>
</div>



{% endblock %}